* {
	padding:0;
	margin:0;
	}
	
	
	@font-face {
	font-family: 'Conv_Gotham Book Regular';
	src: url('../fonts/Gotham Book Regular.eot');
	src: local('?'), url('../fonts/Gotham Book Regular.woff') format('woff'), url('../fonts/Gotham Book Regular.ttf') format('truetype'), url('../fonts/Gotham Book Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'SoleilW01-Light';
  src: url('../fonts/SoleilW01-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SoleilW01-Light.woff') format('woff'), url('../fonts/SoleilW01-Light.ttf')  format('truetype'), url('../fonts/SoleilW01-Light.svg#SoleilW01-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


a[href^=tel]{
    color:inherit;
    text-decoration:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
	font-family: 'Conv_Gotham Book Regular';
	}
	
img{
	 border:none;
	 max-width:100%;
	}
 p {
	
	/* font-size: 1.3em; */
	line-height: 1.8em;
	}

table thead th {
	text-transform:uppercase;
}

	
a:focus{
	outline:none;
}	

i:hover {
	border:none;
}


input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: none;
}

.clr {
	clear:both;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

/*-------------------Landing page html---------------------*/
.cafebg {
  background: #2a7de3 url("../images/cafe-bg.png") no-repeat scroll center bottom;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.logo {
  margin-top: 121px;
  width: auto;
}

.cafe-button img {
	width:auto;
}

.coming-content {
  color: #fff;
  padding-top: 82px;
  padding-bottom: 182px;
}

.coming-content h2 {
  font-family: "Conv_Gotham Book Regular";
  font-size: 36px;
  font-weight: normal;
}

.coming-content h5 {
  font-size: 18px;
  padding-top: 9px;
  font-family: 'SoleilW01-Light';
  font-weight: normal;
}

@media only screen and (max-width:1366px){
	.cafebg {
  background: #2a7de3 url("../images/cafe-bg.png") no-repeat scroll center bottom -40px / contain ;
   -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.logo {
  margin-top: 55px;
  width: 200px;
}

.cafe-button img {
	width:200px;
}

.coming-content {
  color: #fff;
  padding-bottom: 23px;
  padding-top: 36px;
}

body,html {
		height:100%;
	}

}

@media only screen and (max-width:640px){
	body,html {
		height:auto !important;
	}
}


