* {
	padding:0;
	margin:0;
	}
	
/* 	
	@font-face {
	font-family: 'Conv_Museo Sans W01 Rounded 300';
	src: url('../fonts/Museo Sans W01 Rounded 300.eot');
	src: local('?'), url('../fonts/Museo Sans W01 Rounded 300.woff') format('woff'), url('../fonts/Museo Sans W01 Rounded 300.ttf') format('truetype'), url('../fonts/Museo Sans W01 Rounded 300.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MuseoSansCyrl_3';
	src: url('../fonts/MuseoSansCyrl_3.eot');
	src: local('?'), url('../fonts/MuseoSansCyrl_3.woff') format('woff'), url('../fonts/MuseoSansCyrl_3.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_3.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

	


a[href^=tel]{
    color:inherit;
    text-decoration:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}

a:focus {
  outline: none !important;
  outline-offset: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
	font-family: "museo-sans-rounded",sans-serif;
	height:100%;
	}
	
	
img{
	 border:none;
	 max-width:100%;
	}
 p {
	
	/* font-size: 1.3em; */
	line-height: 1.8em;
	}

table thead th {
	text-transform:uppercase;
}

	
a:focus{
	outline:none;
}	

i:hover {
	border:none;
}


input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: none;
}

textarea {
	resize:none;
}

.clr {
	clear:both;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

/*-------------------Home page html---------------------*/
.wrapper {
	margin:0 auto;
	padding:0;
}

.container {
	width:100%;
	float:left;
}

.inner-container {
	margin:0 auto;
	width:80%;
}

header {
  box-sizing: border-box;
  float: left;
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 999999;
}

.logo {
  float: left;
}

.navigation {
  float: right !important;
  padding: 25px 0;
}

.navigation ul li {
  float: left;
  list-style: outside none none;
  padding: 0 20px;
}

.navigation ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation ul li a:hover, .navigation ul li a:active{
	color:#3d3d3d;
}

.ballon-relative {
	position:relative;
}

.ballon {
	position: absolute;
    right: -12px;
    top: -16px;
}

.bx-wrapper img {
  width: 100%;
}
.slider-main {
  position: relative;
}

.slidertext {
  bottom: 0;
  left: 80px;
  position: absolute;
  top: 34%;
}

.bxslider h1 {
  bottom: 173px;
  color: #1b1b1b;
  font-size: 82px;
  width: 466px;
  font-weight: 900;
}

.bxslider a {
  color: #1b1b1b;
  float: left;
  font-size: 14px;
  font-weight: 600;
  padding-top: 23px;
  text-decoration: none;
  text-transform: uppercase;
}

.slidertext img {
  float: right;
  padding-left: 20px;
  width: auto;
  vertical-align: middle;
}

.inner-section {
  float: left;
  width: 33.33%;
}

.perla, .umja {
	width:100%;
}

.perla, .umja, .gains {
  position: relative;
  float:left;
}

.perla a, .umja a, .gains a{
  bottom: 49px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  position: absolute;
  right: 47px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 2;
}

.perla a:hover, .umja a:hover, .gains a:hover{
	
}

.perla span, .umja span, .gains span {
  display: inline-block;
  padding-left: 24px;
  vertical-align: middle;
}

/* .perla img, .umja img, .gains img {
  float: left;
  width: 100%;
}
 */




.perlaa, .umjaa {
	width:100%;
}

.perlaa, .umjaa, .gainss {
  position: relative;
  float:left;
  overflow:hidden;
}

.perlaa a, .umjaa a, .gainss a{
  bottom: 49px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  position: absolute;
  right: 47px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.perla a:hover, .umja a:hover, .gains a:hover{
	
}

.perlaa span, .umjaa span, .gainss span {
  display: inline-block;
  padding-left: 24px;
  vertical-align: middle;
}

.perlaa img, .umjaa img, .gainss img {
  float: left;
  width: 100%;
}
	
section {
  float: left;
  width: 100%;
}

.clients {
	background-color: #1b1b1b;
    min-height: 759px;
}
.clients h3 {
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 4px;
  padding-top: 0; 
  /* padding-top: 42px; */
  text-align: center;
  text-transform: uppercase;
}


#client .bx-default-pager a {
    border: 2px solid #f6f6f6;
}

#client li {
  width: 100% !important;
}

.bxslider2 div {
  display: inline-block;
}

.bxslider2 img {
  width: 89px;
}

/* #client .bx-controls.bx-has-pager.bx-has-controls-direction {
  float: right;
  position: absolute;
}



#client .bx-wrapper .bx-pager, #client .bx-wrapper .bx-controls-auto {
  bottom: 250px;
  left: 372px;
  position: absolute;
  width: auto;
  z-index: 999999;
} */

#client .bx-wrapper .bx-viewport {
  text-align: center;
  width: 100% !important;
  margin-top: 34px;
}

.info {
  float: left;
  width: 50%;
}
/*  */

.out-main{display:table;width:100%;height:100%;}
.left-sec{display:table-cell;vertical-align:top;width:70%;height: 100%;background:#000;}
.right-sec{display:table-cell;vertical-align:top;width:30%;height: 100%;background:#1b1b1b;}
 #client{width:100%;height: 870px; overflow-x: hidden; padding-top: 25%;}

.left-sec .inner-section{width:50%;height: 100%;}
.perla{height:50%;background:url(../images/perla.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;width:100%;position:relative;overflow: hidden;}
.umja{height:50%;background:url(../images/umja.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;width:100%;position:relative;overflow: hidden;}
.gains{height:100%;background: #000/* url(../images/gains.jpg) */;background-repeat:no-repeat;background-position:center;background-size:cover;width:100%;position:relative;overflow: hidden;}
.perla > img, .umja > img, .gains > img{max-width:100%; max-height:100%;} 
/*
#client .bx-pager{left: auto !important;right: 10% !important;bottom:auto !important;top: 50% !important;z-index: 999999;}
#client .bx-controls.bx-has-pager.bx-has-controls-direction {float:none;position:inherit;}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:block;margin-bottom:5px;}
#client .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: block;}
 */
#client .bx-controls.bx-has-pager.bx-has-controls-direction {
 
  float: left;
  left: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 44%;
  width: auto !important;
}
#client .bx-pager.bx-default-pager {
  bottom: auto !important;
  left: auto !important;
  position: relative !important;
  right: auto !important;
}
#client .bx-wrapper .bx-pager .bx-pager-item, #client .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: block;
  margin-bottom: 5px;
}
/*  */
.about h2 {
  color: #1b1b1b;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 30px;
}

.about p {
  color: #000;
  font-size: 14px;
  font-weight: 100;
}

.contact h2 {
  color: #1b1b1b;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 30px;
  padding-top: 30px;
}

.contact label {
  color: #1b1b1b;
  font-size: 30px;
  font-weight: 900;
  line-height: 69px;
  display: inline-block;
  width: 252px;
}
.text-hi,
.contact textarea {
  border: none;
  box-shadow: none;
  color: #1b1b1b;
  font-size: 30px;
  font-weight: 900;
  height: 32px;
  width: 268px;
}
.text-hi {
	padding-left: 5px;
	color: #858585;
	position: absolute;
	top: 6px;
	left: 0;
}
.pull-left.t-area {
    position: relative;
}
.contact form label span {
	color:#b4b4b4;
	font-weight:900;
	font-family: "Conv_MuseoSansCyrl_3";
}

.btn-send {
  background-color: #b4b4b4;
  border: medium none;
  border-radius: 50%;
  box-shadow: none;
  color: #fff !important;
  font-size: 30px;
  height: 150px !important;
   text-align: center !important;
  margin-top: 24px;
  width: 150px !important;
    float: right;
  cursor:pointer;
  font-weight: 900;
  transition: background-color 0.7s ease;
   -webkit-transition: background-color 0.7s ease;
    -moz-transition: background-color 0.7s ease;
    -o-transition: background-color 0.7s ease;
}

.btn-send:hover {
  background: #1b1b1b none repeat scroll 0 0;
  transition: background-color 0.7s ease 0s;
}
 .b-send{float:left; }
 
 .success {
  clear: both;
  float: left;
  margin-top: 30px;
  font-size: 20px;
}

 .form_error {
  clear: both;
  float: left;
  margin-top: 30px;
  font-size: 20px;
}

.success > span {
  font-weight: 900;
}

button:hover {
  background-color: #1b1b1b;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.contact label span {
	color:#b4b4b4;
}

.addresss {
	text-align:right;
}

address {
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  margin: 26px 0;
}

.addresss b {
  font-weight: 900;
}

.addresss h6 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
}

.contact-info {
  /* line-height: 58px; */
  margin: 26px 0;
}

.contact-info a {
  color: #000000;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.social {
  margin-top: 75px;
}

.social li {
  display: inline-block;
  list-style: outside none none;
  margin-right: 12px;
  vertical-align: middle;
}

.social li:last-child {
  margin-right: 0;
}

.social a {
  background-color: #1b1b1b;
  border-radius: 50%;
  color: #fff;
  display: table-cell;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  -webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.social .twitter a:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	background-color:#28a9e0;
}

.social .insta a:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	background-color:#6a453c;
}

.social .fb a:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	background-color:#3c5a99;
}

footer {
  background: #232f56 none repeat scroll 0 0;
  float: left;
  margin:0px 0 0px;
  padding: 90px 0 35px;
  width: 100%;
  }

.copyright {
  float: left;
  font-size: 14px;
  float:left;
  color:#fff;
  padding: 55px 0;
  font-weight:300;
  width:100%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* footer a {
  color: #000000;
  float: right;
  font-size: 14px;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
} */

/*-----------------About------------------*/
#about header {
	position:static;
}

.db-font {
  font-size: 53px;
  margin-bottom: 20px;
  padding: 30px;
  font-weight:900;
}

.abt-font {
	color:#1b1b1b;
}

.fa-user {
	font-size:100px;	
}

.userss li {
  float: left;
  list-style: outside none none;
  margin-top: 52px;
  text-align: center;
  width: 20%;
}

.userss h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 28px 0 6px;
}

.userss h5 {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.2px;
}

.userss .social {
  float: left;
  margin: 14px 0;
  text-align: center;
  width: 100%;
}

.userss .social li {
  float: none;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 8px;
  width: auto;
}

.userss .social li:last-child {
  margin-right: 0 !important;
  padding-right: 0;
}

.userss .social a {
  font-size: 13px;
  height: 20px;
  width: 20px;
}

.userss .p-link {
  color: #000;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 0.4px;
}

.userss .p-link:hover {
  color: #3d3d3d;
  text-decoration:none;
}

.about-you {
  font-size: 53px;
  padding: 111px 0 95px ;
  text-align: center;
}

.about-you span {
	color:#b4b4b4;
}

.who-we-are .left-section, .who-we-are .right-section {
  float: left;
  list-style: outside none none;
  margin: 16px 0;
  padding-left: 64px;
  width: 50%;
}

.who-we-are .right-section{
	box-sizing: border-box;
    padding-left: 52px;
}

.who-we-are .left-section {
  padding-left: 0 !important;
}

.why-we {
  padding-top: 50px;
}
	
.inner-container.who-we-are li:nth-child(1), .inner-container.who-we-are li:nth-child(3) {
  padding-left: 0;
}

.who-we-are h3 {
  font-size: 21px;
  font-weight: 900;
  color: #141414;
}

.who-we-are p {
  font-size: 13px;
  font-weight: 100;
  line-height: 22px;
  padding-top: 22px;
}

.our-promise {
  color: #1b1b1b;
  float: left;
  font-size: 22px;
  font-weight: 900;
  line-height: 26px;
  padding: 125px 0;
  text-align: center;
  width: 100%;
}

.our-promise span {
   color:#b4b4b4;
}


/*-----------------Case Studies------------------*/
.case h1 {
	color:#1b1b1b;
	font-size:53px;
	font-weight:900;
}

.workk .case-title {
  box-sizing: border-box;
  float: left;
  padding: 30px;
  width: 100%;
}

.workk h1 {
  padding-top: 4px;
  width: 15%;
  margin-top: 0;
}

.test-class-1.selectBox-selected > a {
  color: #ccc;
  text-decoration: none;
}

.test-class-1.selectBox-selected > a:focus {
	color:#ccc;
}

.workk .case-title p {
  float: right;
  width: 85%;
}

.case h1 span {
	color:#1b1b1b;
	font-size:35px;
}

.case-title {
  float: left;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

.case-s {
	float:left;
	padding:0;
}

.back-arrow {
	float:right;
}

.back-arrow > img {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 22px;
  vertical-align: middle;
}

/*-----------------Services------------------*/
.servicess {
  float: left;
  padding-bottom: 90px;
  width: 100%;
}

.width-40 {
	width:40%;
	float:left;
}

.width-20 {
  box-sizing: border-box;
  float: left;
  padding-left: 80px;
  width: 20%;
}

.width-40 h2 {
  color: #1b1b1b;
  font-size: 50px;
  font-weight: 900;
}

.width-20 h3{
	font-size:30px;
	min-height:62px;
	font-weight: 900;
}

.width-20 p {
  font-size: 14px;
  font-weight: 500;
  min-height: 176px;
  padding-top: 22px;
}

.width-20 a {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 9px;
  padding-top: 104px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.width-20 img {
  padding-left: 30px;
  vertical-align: middle;
}

/*-----------------Contact------------------*/
.t-area {
	width:100%;

}

.pull-left textarea {
  height: 200px;
  width: 100%;
  	padding-top: 40px !important;
} 

.darkText{
color: #1b1b1b;
}
.contact-form input {
  font-family: "museo-sans-rounded",sans-serif;
  text-align: right;
}

.contact-form button {
  float: right;
  margin-top: 60px;
}

.contact-form label {
  text-align: right;
}

.contact_success {
  color: #000;
  float: left;
  font-size: 20px;
}

.contact_error {
  color: #000;
  float: left;
  font-size: 20px;
}

.contact_success > span {
  color: #000;
  font-weight: 900;
}

/*-----------------Clients------------------*/
.clientss {
  background-image: url("../images/slide1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  position: relative;
  width: 100%;
}

.slider-text h1 {
  color: #fff;
  font-size: 100px;
  height: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 100%;
  font-weight: 900;
}

.switch-down {
  bottom: 68px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.switch-down .see-project {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 6px;
  padding-top: 26px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-weight: 300;
}

.client-david {
  margin-top: 80px;
  width: 80%;
}

.client-project {
  margin-top: 80px;
  }

.client-david h2 {
	color:#000;
}

.client-david .about {
	width:60%;
}

.client-project {
	width:20%;
	text-align:left;
}

.project-p {
  padding-bottom: 40px;
}

.project-p > h6 {
  padding-bottom: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.project-p > p {
  font-size: 12px;
}

.project-p b {
  font-weight: 900;
}

.client-project a {
  color: #000;
  float: left;
  font-size: 14px;
  font-weight: 800;
  padding-top: 62px;
  text-decoration: none;
}

.info.addresss.client-project img {
  padding-left: 20px;
  vertical-align: middle;
}

.client-imgs {
  margin-top: 18px;
  text-align: center;
}

.db-contact {
  margin-top: -8%;
}

.contactt img{
	width:100%;
}

.bottom-links {
  float: left;
  padding: 150px 0 66px;
  width: 100%;
}

.bottom-links a:nth-child(1) {
	color: #000;
    float: left;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
}

.bottom-links a:nth-child(1) img {
  padding-right: 26px;
  vertical-align: middle;
}

.bottom-links a:nth-child(2) img {
  padding-left: 26px;
  vertical-align: middle;
}

.bottom-links a:nth-child(2) {
	color: #000;
    float: right;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
}

/*-----------------AT&T------------------*/
.att {
  background-image: url("../images/at&t.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  position: relative;
  width: 100%;
}

.blln {
  background-image: url("../images/balln.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  position: relative;
  width: 100%;
}

.perla-slider {
  background-image: url("../images/perla-slider.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  position: relative;
  width: 100%;
}

.Cardiac {
  background-image: url("../images/CardiacSpecialists.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  position: relative;
  width: 100%;
}

.umoja {
  background-image: url("../images/umoja.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  position: relative;
  width: 100%;
}

.case-at a{
	padding-top: 30px;
}

.web-set img {
	padding-top: 90px;
    width: 70%;
}

.food-first-section {
	width:50%;
	float:left;
}

.food-first-section {
  color: #fff;
  display: table;
  width: 100%;
}

.food-text {
  display: table-cell;
  height: auto;
  margin: 0 auto;
  padding: 0 168px;
  vertical-align: middle;
  width: 50%;
}

.food-text > p:nth-child(1) {
  font-weight: 700;
}

.food-text > p:nth-child(2) {
  font-weight: 100;
}

.food-content {
	position: relative;
}

.food-mobile {
  left: 50%;
  margin-left: -140px;
  position: absolute;
  top: 54px;
}

.food-mobile > img {
  width: 78%;
}

.food-text > p {
  font-size: 13px;
}

.food-img {
  background-image: url("../images/food-img.jpg");
  background-position: center bottom;
  background-size: cover;
  display: table-cell;
  min-height: 346px;
  width: 100%;
}

.ballon-img {
  background-image: url("../images/slider-ballon.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.perlaa-img {
  background-image: url("../images/perla-slider-img.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.collateral {
  background-image: url("../images/collateral.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.branding {
  background-image: url("../images/branding.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.pakaging {
  background-image: url("../images/pakaging.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.pakagingg {
  background-image: url("../images/pakagingg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.pakaginggg {
  background-image: url("../images/pakaginggg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  min-height: 500px;
  width: 100%;
}

.food-section {
	background-color:#000;
	width:100%;
	float:left;
}

.extra-info {
  margin-top: 160px;
}

.info-inner {
  margin-top: 80px;
  width: 50%;
  padding-right: 75px;
  box-sizing: border-box;
}

.info-inner p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.att-t  .about p, .Cardiac p, .umoja p{
	font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.info-right {
  width: 50% !important;
}

.info.addresss.client-project.case-at.info-right > ul {
  padding-top: 66px;
}

.info.addresss.client-project.case-at.info-right li {
  font-size: 14px;
  font-weight: 100;
  list-style: outside url("../images/tick.png") disc;
  margin-bottom: 12px;
}

.info.addresss.client-project.case-at.info-right span {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

/*-----------------------------------*/
.business-dev{
	color:#b4b4b4 !important;
}

.case-s a {
  color: #1b1b1b;
  font-size: 35px;
  text-decoration: none;
}

.service-dev form textarea {
  font-family: "museo-sans-rounded",sans-serif;
  font-weight: 900;
  text-align: right;
}

.strategy {
  width: 47%;
}

::-webkit-input-placeholder {
	font-weight:900;
	font-family: "museo-sans-rounded",sans-serif;
}

.service-contact {
	width:53%;
	margin-bottom:50px;
}

.strategy h1 {
	font-size:30px;
	font-weight:900;
}

.content-section h4 {
  font-size: 14px;
  padding-bottom: 22px;
  font-weight: 700;
}

.content-section {
  padding-top: 30px;
}

.content-section p {
	font-size:14px;
	font-weight: 100;
}

.contact.pull-right.service-contact > h1 {
  font-size: 30px;
  text-align: right;
  color:#b4b4b4;
}

.input-star {
  color: #b4b4b4;
  font-size: 30px;
  font-weight: 900;
  margin: 22px 0;
}

.input {
	font-weight:900;
}

/*-----------------Work------------------*/
.work-grid li {
  float: left;
  list-style: outside none none;
}

.work-grid li {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 16.66%;
}

.work-grid img {
  float: left;
  width:100%;
}

/*-----------------Ballon------------------*/
#ballon a{
	color:#fff;
}

.baln-text {
  box-sizing: border-box;
  display: table-cell;
  padding: 66px 92px;
  vertical-align: middle;
}

.baln-para {
	font-size:20px !important;
	font-weight:700 !important;
	line-height:25px;
}

.food-text.baln-text > h2 {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 46px;
}

#ballon-basket .bx-pager-link {
  border-color: #fff;
}

#ballon-basket .bx-wrapper .bx-pager.bx-default-pager a:hover, #ballon-basket .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff none repeat scroll 0 0;
}

#ballon-basket .bx-pager.bx-default-pager {
  right: 20px;
  left: auto;
  top: 37%;
}
#ballon-basket  .bx-wrapper .bx-pager .bx-pager-item, #ballon-basket .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: block;
  margin-bottom: 5px;
}
.umoja-section {
  margin-bottom: 70px;
  margin-top: 0;
}

.umoja-section .info-inner {
  box-sizing: border-box;
  margin-top: 30px;
  padding-right: 75px;
  width: 50%;
}

.umoja-iphone img {
  background-size: cover;
  width: 100%;
}

.contact input, .contact textarea {
  font-family: "museo-sans-rounded",sans-serif;
  font-weight: 900;
}

/*-----------------Perla------------------*/
.consulting {
  clear: both;
  margin: 25px 0 100px;
}

.perla-down-section img {
	padding-top:0;
}

.sub-container {
  width: 75%;
  margin: 0 auto;
}

.perla-bg {
  background-color: #0f8585;
  margin-top: 168px;
  padding: 62px 0;
  position: relative;
}

.perla-insta {
  float: left;
  width: 70%;
}

.perla-tags {
  float: left;
  width: 30%;
}

.perla-tags {
  float: left;
  padding-top: 120px;
  text-align: right;
  width: 30%;
}

.insta-para > p:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.perla-tags li {
  list-style: none;
  line-height: 35px;
}

.perla-tags a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.perla-tags img {
  padding-left: 16px;
  vertical-align: middle;
}

.insta-para {
  color: #fff;
  width: 50%;
  float: left;
}

.insta-para > p:nth-child(2) {
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}

.perla-insta > img {
  float: right;
  position: absolute;
  top: -124px;
  width: 34%;
}

.sub-container li {
  box-sizing: border-box;
  float: left;
  list-style: outside none none;
  padding-right: 6px;
  padding-top: 2px;
  width: 50%;
}

.clear{

 clear:both;

}

.footer-bottom {

    box-sizing: border-box;

    float: left;

    margin: 72px 0;

    width: 100%;

}



.main-footer{

 position:absolute;

 left:0;
 right: 0;

 bottom:-300px;

}



.outer-cont {

  float: left;

  position: relative;

  width: 100%;

  padding-bottom:100px;

  height:100%;

  

}

#about {

  width: 100%;

}



input, textarea {
  border: 1px solid #fff !important;
  padding:5px;
  outline: none !important;
  border-radius:2px;
}
input[type=text]:focus, input[type=email]:focus {
  box-shadow: 0 0 0 1px #1b1b1b !important;
  padding:5px;
  outline: none !important;
  border: 1px solid rgba(81, 203, 238, 1);
}
.darkText + textarea:focus {
	 box-shadow: 0 0 0 1px #1b1b1b !important; 
	border: 1px solid rgba(81, 203, 238, 1);
outline: none !important;
}

.new-contact input:focus{
  padding: 18px 22px!important;
  box-shadow: 0px!important;
  border-bottom: 1px solid #cb0202 !important;
}

.new-contact textarea:focus{
border-bottom: 1px solid #cb0202 !important;
}

.in-type-fields input[type=text]:focus, .in-type-fields input[type=email]:focus {
padding: 10px 18px!important;
}


.contact input {
  width: 246px;
}

.invt-contact.b-radius {
  border-radius: 20px 0 0 20px;
  }

.selectBox-dropdown .selectBox-label {
    color: #1b1b1b !important;
}
.selectBox-options.selectBox-options-bottom {
    border-radius: 50px !important;
	background: #fff !important;
	color: #1b1b1b !important;
	border: 2px solid #666 !important;
	max-height: none !important;
}
.selectBox-options li a {
    padding: 5px 30px !important;
}
.snap-slide,
.ss-active,
.ss-active .container.grid-four,
.slider-main .bx-wrapper,
.slider-main,
.wrapper.wrap.push {
   height: 100%;
}
.bx-wrapper {
	overflow: hidden;
}
#client {
    height: auto;
}
.clients {
    min-height: auto;
}
.overally  + .wrapper {
	height: 100%;
} 
.height-full{
	height: 100% !important;
}
.pull-right.contact-form {
    margin-top: 120px;
}


.pointer {
      color: #9b59b6;
      font-family: 'Pacifico', cursive;
      font-size: 30px;
      margin-top: 15px;
    }
    pre {
      margin: 80px auto;
    }
    pre code {
      padding: 35px;
      border-radius: 5px;
      font-size: 15px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      max-width: 500px;
    }


    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    
    .main h1 {
      padding:20px 50px;
      float: left;
      width: 100%;
      font-size: 60px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      margin: 0;
      padding-top: 25px;
      font-family: 'Pacifico';
      letter-spacing: 2px;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload, .btn{
      display: inline-block;
      border: 4px solid #A2261E;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #CC3126;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      color: #fff;
      width: 100px;
      line-height: 140%;
      font-size: 17px;
      font-family: open sans;
      font-weight: bold;
    }
    .reload:hover{
      background: #A2261E;
    }
    .btn {
      width: 200px;
      color: #fff;
      border: none;
      margin-left: 10px;
      background: rgba(255, 255, 255, 0.11);
    }
    .clear {
      width: auto;
    }
    .btn:hover, .btn:hover {
      background: rgba(255,255,255,0.3);
    }
    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      font-style: italic;
      text-align: center;
      color: #fff;
      padding: 10px;
      margin: 0 0 40px 0;
      float: left;
      width: 100%;
    }
    .credit a {
      color: #ccc;
      text-decoration: none;
      font-weight: bold;
    }
    
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(0, 0, 0, 0.65);
      font-weight: bold;
      font-size: 13px;
      color: #fff;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
    }
    .back:hover {
      background: rgba(0, 0, 0, 0.85);
    }
    
    .bl_form {
      margin: 150px 0;
    }
    
    .bl_form input {
      padding-top: 15px;
      background: rgba(255,255,255,0.10);
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      border: none;
      color: white;
      padding: 10px 15px;
      border-radius: 25px;
      font-size: 16px;
      outline: none;
    }


    .lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {
      left: 15px !important;
    }

    .lb_wrap .lb_label.left {
      left: 0;
    }

    .lb_label {
      font-weight: bold;
      color: #999;
    }

    .lb_label.active {
      color: #FFF;
    }
	
.perlaa img, .umjaa img, .gainss img {
    transition: all 1.5s ease-in-out 0s;
    -moz-transition: all 1.5s ease-in-out 0s;
    -webkit-transition: all 1.5s ease-in-out 0s;
    -o-transition: all 1.5s ease-in-out 0s;
   }

.perlaa:hover img, .umjaa:hover img, .gainss:hover img {
    transform: scale(1.2) rotateZ(0deg);
    -moz-transform: scale(1.2) rotateZ(0deg);
    -webkit-transform: scale(1.2) rotateZ(0deg);
    -o-transform: scale(1.2) rotateZ(0deg);
   }

.sld-heading2 > h1 {
  color: #fff;
  }

.sld-heading2 > a {
  color: #fff;
  }

.sld-heading > h1 {
  color: #fff;
  }

.sld-heading > a {
  color: #fff;
  }

.m-popup {
  background: #232f56 none repeat scroll 0 0;
  box-sizing: border-box;
  display: none;
  float: left;
  padding: 35px;
  height:100%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999999;
  }
  
.tbl-one {
  display: table;
  height: 100%;
  width: 100%;
  }

.info-popup {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  }  
  
  
.display-block{
display: inline-block !important;
}

.m-popup h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  padding:142px 0 0px;
  }

.form-submit input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #18213c !important;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 22px 15px 25px 40px;
  text-transform: uppercase;
  width: 400px;
}

.form-submit .cnt {
  background-color: #232f56;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 0 0 -84px;
  padding: 24px 40px;
  text-decoration: none;
  text-transform: uppercase;
  }
  
.form-submit input[type="text"]:focus, .form-submit input[type="email"]:focus {
  border: 1px solid #18213c !important;
  box-shadow: none!important;
  padding: 22px 15px 25px 40px!important;
  outline: medium none !important;
  }

.form-submit {
  padding: 35px 0 154px;
  }

.close-cls {
  position: absolute;
  right: 40px;
}

.quick-link {
  float: left;
  margin: 0;
  width: 25%;
  }

.quick-link > li {
  display: inline-block;
  float: left;
  list-style: outside none none;
  padding: 6px 0;
  width: 100%;
  }

.quick-link > li a {
  color:#4b5d99;
  font-weight:300;
  font-size: 14px;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:13px;
  float:left;
  }
  
.quick-link > li a:hover {
  color: #fff;
  }  

.info-add {
  background: #f6f6f6 none repeat scroll 0 0;
  padding-bottom:72px;
  }

.new-contact {
  border-radius: 40px;
  overflow:hidden;
  box-sizing: border-box;
  float: left;
  min-height: 150px;
  padding: 1px;
  width: 100%;
  }
  
.invt.inradius {
  border-radius: 38px 38px 0 0;
  }  

.invt {
  background: #f6f6f6;
  border: medium none !important;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  border-radius:0px;
  border-bottom:solid 1px!important;
  letter-spacing: 5px;
  padding: 18px 22px;
  text-transform: uppercase;
  width: 100%;
  }

.input_txtarea {
  background: #f6f6f6;
  border: medium none !important;
  box-sizing: border-box;
  font-family: "museo-sans-rounded",sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  border-radius:0px;
  border-bottom:solid 1px #000!important;
  padding: 22px;
  text-transform: uppercase;
  width: 100%;
  }

.bt-bg-send {
  background: #000 none repeat scroll 0 0;
  border-radius: 0 0 40px 40px;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 30px 22px;
  width: 100%;
  z-index: 9;
  }

.n-send {
  background: url("../images/white-arrow.png") no-repeat scroll right 0 center;
  border: medium none !important;
  color: #fff;
  float: right;
  font-size: 14px;
  font-weight: 300;
  cursor:pointer;
  letter-spacing: 5px;
  padding-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  }

.in-part {
  background: #000 none repeat scroll 0 0;
  border-radius: 40px;
  float: left;
  overflow: hidden;
  width: 100%;
  }

.full-about {
  float: left;
  margin: 120px 0 60px;
  width: 100%;
  }

.about {
  float: left;
  margin: 0;
  width: 50%;
  }

.f-social {
  float: right;
  margin: 0;
  }

.f-social li {
  display: inline-block;
  list-style: outside none none;
  margin-right: 12px;
  vertical-align: middle;
}

.f-social li:last-child {
  margin-right: 0;
}

.f-social a {
  background-color: #fff;
  border-radius: 50%;
  color: #232f56;
  display: table-cell;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  -webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.f-social a:hover {color:#fff;}

.f-social .twitter a:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	background-color:#28a9e0;
}

.f-social .insta a:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	background-color:#6a453c;
}

.f-social .fb a:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	background-color:#3c5a99;
}  

.loader-message {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  font-size: 50px;
  display:block;
  font-weight: 900;
  padding: 330px 0;
  text-align: center;
  width: 100%;
  position:fixed;
  left:0;
  right:0;
  top:0px;
  bottom:0px;
  }
  
/* type   */

.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
		

.in-type-fields {
  border: 1px solid;
  border-radius: 20px;
  float: left;
  margin: 80px 0;
  box-sizing: border-box;
  padding: 0 0 0 0px;
  width: 100%;
  }


.invt-contact {
  font-size: 14px;
  border-top:none!important;
  border-bottom:none!important;
  float:left;
  border-radius:0px;
  border-left:none!important;
  border-right:solid 1px!important;
  padding:10px 18px;
  font-weight: 300 !important;
  letter-spacing: 5px;
  box-sizing:border-box;
  text-transform: uppercase;
  width:25%!important;
  }
  
.ld-wrap {
  display: table;
  height: 100%;
  width: 100%;
  }

.type-wrap {
  display: table-cell;
  vertical-align: middle;
  }  

.contact-btn {
 background: #000 url("../images/white-arrow.png") no-repeat scroll right 25px center;
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
  color: #fff;
  float: right;
  cursor:pointer;
  font-size: 14px;
  margin: 0 -2px 0 0;
  font-weight: 300!important;
  border:none!important;
  letter-spacing: 5px;
  padding: 9px 55px 9px 0;
  text-align: right;
  box-sizing:border-box;
  text-decoration: none;
  text-transform: uppercase;
  width: 25%!important;
  }

.phn{border-right:none!important;}  

.contact-btn > img {
  vertical-align: text-top;
  }
  
.t-area .resize{
	position: relative;
}
.t-area .resize:after{
	content: "";
	display: inline-block;
	height: 25px;
	width: 25px;
	position: absolute;
	background: #fff url('../images/resize.png') no-repeat;
	bottom: 3px;
	right: 3px;
	z-index: 5;
	pointer-events: none;
   }  
  
/*-----------------Model-box------------------*/

@media only screen and (max-width:767px) {

#slvj-back-lightbox {
  width: 80%!important;
  height: auto !important;
}
iframe {
  width: 100%;
  height: auto;
}

}
/*-----------------Media------------------*/


@media (min-width:1800px) {
	.bxslider h1 {
	  font-size: 115px;
	}
	.bxslider h1 {
	  width: 666px;
	}
	.bxslider a {
	  letter-spacing: 6px;
	}
	/* .slidertext {
	  top: 578px;
	} */
	.db-font {
	  font-size: 75px;
	}
	.userss h4 {
	  font-size: 20px;
	}
	.userss h5 {
	  font-size: 14px;
	}
	.userss .p-link {
	  font-size: 14px;
	}
	.who-we-are h3 {
	  font-size: 30px;
	}
	.who-we-are p {
	  font-size: 14px;
	}
	.who-we-are .right-section {
	  padding-left: 88px;
	}
	.our-promise {
	  font-size: 30px;
	  line-height: 30px;
	}
	.case h1 {
	  font-size: 75px;
	}
	.case h1 span {
	  font-size: 50px;
	}
	.slider-text h1 {
	  font-size: 115px;
	}
	.about h2 {
	  font-size: 50px;
	}
	.about p {
	  font-size: 20px;
	  line-height: 30px;
	}
	.client-david {
	  width: 85%;
	}
	.client-project {
	  width: 15%;
	}
	.client-david .about {
	  width: 74%;
	}
	.client-project a {
	  font-size: 20px;
	  padding-top: 122px;
	}
	.bottom-links a:nth-child(1) {
	  font-size: 50px;
	}
	.bottom-links a:nth-child(2) {
	  font-size: 50px;
	}
		.width-20 a {
	  letter-spacing: 7px;
	}
	.perla-bg {
	  padding: 105px 0;
	}
	.insta-para > p:nth-child(1), .insta-para > p:nth-child(2) {
	  font-size: 20px;
	  line-height: 28px;
	}
	.perla-tags {
	  padding-top: 162px;
	}
		.footer-bottom {
	bottom: 0;
    box-sizing: border-box;
    float: left;
    left: 0;
    margin: 72px 0;
    padding: 0 150px;
    position: absolute;
    width: 100%;
}
.workk .case-title p {
    margin-top: 11px;
}
.baln-text {
    padding: 66px 132px;
}
}
@media (max-width:1366px) {
	.width-40 {
	width:30%;
	}

	.width-20 {
	  width: 23.33%;
	}
	.width-20 img {
	  padding-left: 15px;
	}
	.width-20 a {
	  letter-spacing: 4px;
	}
	.width-40 h2 {
	  font-size: 36px;
	}
	.width-20 h3 {
	  font-size: 24px;
	}
}

@media (max-width:1280px) {

}
@media (max-width:1250px) {
	.slidertext {
	  bottom: 132px;
	  top: auto;
	}
}

@media (max-width:1200px) {

.snap-slide, .ss-active, .ss-active .container.grid-four, .slider-main .bx-wrapper, .slider-main, .wrapper.wrap.push {
  height: auto;
  }

	.userss li {
	  width: 25%;
	}

	.inner-container {
	  margin: 0 auto;
	  padding: 0 20px;
	  width: 100%;
	  box-sizing: border-box;
	}
	.sub-container {
	  width: 100%;
	}
}

@media (max-width:1120px) {
	.food-text {
	  padding: 0 30px 0 122px;
	}
}

@media (max-width:1120px) {
	.width-40, .width-20 {
	width:25%;
	}
	
	.width-20 {
		padding-left: 20px;
	}
	.food-text {
	  padding: 0 30px 0 40px;
	}
}

@media (max-width:960px) {
	.slidertext {
	  bottom: 132px;
	  top: auto;
	}
	.bxslider h1 {
	  font-size: 55px;
	}
	.our-promise {
	  box-sizing: border-box;
	  padding: 125px 10px;
	}
	.width-40 {
		width:100%;
		text-align:center;
		padding-bottom:50px;
	}
	
	.width-40 br{
		display:none;
	}
	
	.width-20 {
		width:33.33%;
	} 
	.client-david {
	  width: 70%;
	}
	.client-david .about {
	  width: 80%;
	}
	.client-project {
	  width: 30%;
	}
	.att h1, .blln h1, .Cardiac h1, .umoja h1 {
	  top: 38%;
	}
	.perla-insta > img {
	  top: -15px;
	}
	.perla-bg {
	  margin-top: 50px;
	}
	
}

@media (max-width:980px) {
	.footer-bottom {
	bottom: 0;
    box-sizing: border-box;
    float: left;
    left: 0;
    margin: 72px 0;
    padding: 0 16px;
    position: absolute;
    width: 100%;
}

.invt-contact{
  width: 49% !important;
  padding: 10px 18px;
  margin: 0.5%;
  border: 1px solid!important;
  border-radius: 20px;
  }
  
.contact-btn{
  width: 49% !important;
  padding: 10px 55px 10px 0;
  margin: 0.5%;
  float:none;
  border-radius: 20px;
  }

.in-type-fields{
  border:none;
  padding:0px;
  }  

}

@media (max-width:800px) {
	.userss li {
  padding: 1%;
  width: 23%;
}
}


@media (max-width:768px) {
	.slidertext {
	  bottom: 62px;
	}
	.bxslider h1 {
	  font-size: 38px;
	}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	  bottom: 18px !important;
	}
	.service-contact, .strategy {
	  width: 100%;
	}
	.food-text > p {
	  font-size: 13px;
	  line-height: 20px;
	}
	.perlaa span, .umjaa span, .gainss span {
	  padding-left: 0;
	}
	.work-grid li {
	  width: 33.33%;
	}
	
}
 @media (max-width:767px) {
.out-main{display:block;float:left;}
.left-sec{display:block;float:left;width:100%;}
.right-sec{display:block;float:left;width:100%;}
#client {height: auto;overflow-x: hidden;padding: 10px 0;width: 100%;}
.perla, .umja{height:300px;}
.gains{height:600px;}
.left-sec .inner-section {height:600px;}
.perla-insta {
  float: left;
  width: 100%;
}
.perla-tags > ul {
  text-align: center;
}
.perla-insta > img {
  width: 48%;
}
.perla-tags {
  width: 100%;
}
.m-popup h1{font-size:34px; padding-top: 80px;}
.form-submit .cnt {
  font-size: 12px;
  padding: 16px 25px;
}
.form-submit input {
  font-size: 12px;
  width:55%;
  padding: 15px 15px 18px 40px;
  }

.form-submit input[type="text"]:focus, .form-submit input[type="email"]:focus{padding: 15px 15px 18px 40px!important;}  
 .form-submit{padding-bottom:80px;} 
  
}
@media (max-width:640px) {
.type-wrap > span {
  font-size: 24px;
  }
.m-popup h1{font-size:24px;}
	.logo {
	  width: 40px;
	}
	.navigation ul li {
	  float:none;
	  padding:0;
	}
	.navigation ul li a {
	  color: #fff;
	  display: inline-block;
	  line-height: 57px;
	  text-align: center;
	  width: 100%;
	}
	.navigation ul li a:hover, .navigation ul li a:active {
	  background: #ccc none repeat scroll 0 0;
	}
	.ballon {
	  right: auto;
	  top: -8px;
	}
	.bxslider h1 {
	  bottom: 173px;
	  color: #1b1b1b;
	  float: none;
	  text-align: center;
	  width: 100%;
	}
	.slidertext {
	  text-align: center;
	  width: 100%;
	  left:auto;
	}
	.slidertext img {
	  float: none;	
	}
	.bxslider a {
	  width: 100%;
	}
	
	.bx-wrapper img {
	  display: inline-block !important;
	  max-width: 100%;
	}
	.bx-pager.bx-default-pager {
	  left: 0 !important;
	  text-align: center !important;
	  width: 100% !important;
	}
	.inner-section {
	  width: 100%;
	}
	.info {
	  width: 100%;
	  text-align: Center;
	  margin-top: 40px;
	}
	.contact h2 {
	  line-height: 38px;
	}
	
	.t-area {
	  width: 100%;
	}
	.addresss {
	  text-align: center;
	}
	.social {
	  margin-top: 56px;
	}
	
	.userss li {
	  padding: 0;
	  width: 50%;
	}
	
	.who-we-are .left-section, .who-we-are .right-section {
	  width: 100%;
	}
	.who-we-are .right-section {
	  padding-left: 0;
	}
	.about-you {
	  padding: 48px 0 12px;
	  font-size: 38px;
	}
	.our-promise {
	  padding: 40px 10px 0;
	  line-height: 28px;
	}
	.db-font {
	  font-size: 38px;
	  text-align: center;
	}
	.case h1 {
	  font-size: 36px;
	}
	.case h1 span {
	  font-size: 25px;
	}
	.width-20 a {
		letter-spacing: 0;
	}
	.width-20 h3 {
	  font-size: 20px;
	}
	.width-20 p {
	  padding-top: 0px;
	}
	.client-david .about {
	  width: 100%;
	}
	.client-project a {
	  width: 100%;
	  padding-top: 0;
	}
	.client-imgs.db-contact > img {
	  width: 92%;
	}
	.left-sec .inner-section {
	  width: 100%;
	}
	.info-inner {
	  padding-right: 0;
	}
	.info-right {
	  padding: 0 33px;
	  width: 100% !important;
	  box-sizing: border-box;
	}
	.att h1, .blln h1, .Cardiac h1, .umoja h1, .perla-slider h1 {
	  font-size: 68px;
	}
	.food-img {
	  width: 100%;
	}
	.food-first-section {
	  width: 100%;
	}
	.food-text {
	  box-sizing: border-box;
	  padding: 62px 55px;
	  width: 100%;
	}
	.food-mobile {
	  float: left;
	  left: 0;
	  margin-left: 0;
	  padding-top: 55px;
	  position: static;
	  text-align: center;
	  top: 54px;
	  width: 100%;
	}
	.extra-info {
	  margin-top: 16px;
	}
	.food-mobile img {
		width:auto;
	}
	.umoja-section .info-inner {
	  width: 100%;
	}
	.att-t .about p, .Cardiac p, .umoja p {
	  font-size: 16px;
	  line-height: 26px;
	}
	.info-inner p {
	  font-size: 16px;
	  line-height: 26px;
	}
	.info {
	  margin-top: 0;
	}
	.food-img {
	  display: inline-block;
	}
	.food-text {
	  display: inline-block;
	}
	.info.client-david.att-t {
	  margin: 50px 0;
	}
	.contact-form {
	  width: 100%;
	}
	.contact-form input, .contact-form textarea {
	  text-align: left;
	  width: 92%;
	}
	.db-font br{
	  display:none;
	} 
	#ballon-basket .bx-wrapper .bx-controls-direction a {
	  background-color: #fff;
	  color: #000;
	  height: auto;
	  margin-top: -16px;
	  outline: 0 none;
	  padding: 10px;
	  position: absolute;
	  text-decoration: none;
	  text-indent: 0;
	  top: 50%;
	  width: 32px;
	  z-index: 9999;
	}
	#ballon-basket .bx-pager.bx-default-pager {
	  display: none;
	}
	.insta-para {
	  width: 100%;
	}
	.perla-insta > img {
	  float: left;
	  padding-top: 52px;
	  position: static;
	  width: 100%;
	}
	.perla-tags {
	  padding-top: 60px;
	}
	.footer-bottom {
	bottom: 0;
    box-sizing: border-box;
    float: left;
    left: 0;
    margin: 72px 0;
    position: static;
    width: 100%;
}
	small {
	  float: none;
	}
	footer {
	  /* text-align: center; 
	  line-height: 28px;*/
	}
	footer a {
	  display: inline-block;
	  float: none;
	}
	.btn-send.b-send {
	  float: none;
	}
	.success {
	  width: 100%;
	}
	.main-footer {
	  bottom: auto;
	}
	
	.about{width:100%; text-align:center;}
	.info{margin-bottom:40px;}
    .quick-link > li a {
  float: none;
  }
  .quick-link > li {
  float: none;
  }
  
  .quick-link {
  text-align: center;
  width: 100%;
}
.copyright {
  text-align: center;
}
.f-social {
  margin-top: 35px;
  text-align: center;
  width: 100%;
}

  
}

@media (min-width:600px) {
	
	/* .main-footer {
	  bottom: -200px;
	} */
}

@media (max-width:480px) {

.type-wrap > span {
  font-size: 16px;
  }
  
	.main-footer {
	  bottom: auto;
	}
	.contact h2 {
	  font-size: 20px;
	  line-height: 32px;
	}
	.contact label {
	  font-size: 25px;
	}
	/* .contact input, .contact textarea {
	  font-size: 18px;
	  font-weight: 500;
	} */
	.contact-info {
	  margin: 0;
	}
	.inner-container {
	  box-sizing: border-box;
	  margin: 0 auto;
	  padding: 20px;
	  width: 100%;
	}
	.contact label, .contact input, .contact textarea {
	  width: 100%!important;
	}
	.about-you {
	  font-size: 26px;
	  margin-bottom: 0;
	  padding: 40px 0 0;
	}
	.who-we-are {
	  float: left;
	  text-align: center;
	}
	.db-font {
	  font-size: 26px;
	  text-align: center;
	  padding-bottom: 0;
	  margin-bottom: 0;
	}
	.social {
	  margin-top: 40px;
	}
	.back-arrow > img {
	  padding: 11px;
	}
	.case h1 {
	  font-size: 26px;
	}
	.case h1 span {
	  font-size: 18px;
	}
	.width-20 {
	  width: 100%;
	  text-align: center;
	  padding-bottom: 64px;
	}
	.width-20 h3 br {
		display:none;
	}
	.width-20 h3 {
	  min-height: 40px;
	  font-size: 16px;
	}
	.width-20 a {
	  padding-top: 40px;
	}
	.servicess {
	  padding-bottom: 0px;
	}
	.width-40 h2 {
	  font-size: 22px;
	}
	.bottom-links {
	  padding: 54px 0 0;
	}
	.bottom-links a:nth-child(1) {
	  font-size: 22px;
	}
	.bottom-links a:nth-child(2) {
	  font-size: 22px;
	}
	.contact-form button {
	  float: none;
	}
	.pull-right.contact-form {
	  text-align: center;
	  width: 100%;
	}
	.contact-form label {
	  text-align: center;
	}
	.contact-form input {
	  text-align: left;
	}
	.att h1, .blln h1, .Cardiac h1, .umoja h1, .perla-slider h1 {
	  font-size: 40px;
	}
	.contact.pull-right.service-contact > h1 br{
		display:none;
	}
	.contact.pull-right.service-contact > h1 {
	  text-align: center;
	}
	.contact-form input, .contact-form textarea {
	  width: 92%;
	}
	.service-dev form textarea {
	  text-align: left;
	}
	.contact-form input {
	  font-family: "museo-sans-rounded",sans-serif;
	  font-weight: 900;
	}
	.width-20 p {
	  min-height: 85px;
	}
	.sub-container li {
	  padding-right: 0;
	  width: 100%;
	}
	
	footer {
	  margin: 40px 0;
	}
	.work-grid li {
	  width: 100%;
	}
	.work-grid img {
			width:100%;
		
	}
	
.form-submit > input {
  box-sizing: border-box;
  width: 100%;
  }

.cnt {
  box-sizing: border-box;
  float: left;
  margin: 10px 0 0!important;
  width: 100%;
}  
	
}

@media (max-width:420px) {
	.userss li {
	  width: 100%;
	}
}
@media (max-width:380px) {
	.bxslider h1 {
	  font-size: 24px;
	}
	.slidertext {
	  bottom: 43px;
	}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	  bottom: 4px !important;
	}
	
}

@media (max-width:320px) {
	
	.main-footer {
	  bottom: auto;
	}
}




