.work-img{float:left;width:60%;}
.work-info{float:right;width:34%;padding:30px 5%; box-sizing:padding-box;}
.work-info h1{float:left;width:100%;font-size:30px;color:#FFF;}
.work-info h6{font-size:14px;float:left;width:100%;color:#FFF;margin:15px 0 10px;text-transform:uppercase;font-weight:300;}
.work-info a {
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  width: 100%;
}
.cross-right {
  position: absolute;
  right: 25px;
  top: 30px;
  z-index: 999999;
}
.work-info a span{}
.pop-up-style{ background:#000 none repeat scroll 0 0; color:#fff; float:left; width:100%; }
.banner1-1{float:left;width:100%;background-image:url("../images/1-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner1-2{float:left;width:100%;background-image:url("../images/1-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner1-3{float:left;width:100%;background-image:url("../images/1-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner2-1{float:left;width:100%;background-image:url("../images/2-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner2-2{float:left;width:100%;background-image:url("../images/2-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner2-3{float:left;width:100%;background-image:url("../images/2-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner2-4{float:left;width:100%;background-image:url("../images/2-slide4.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner3-1{float:left;width:100%;background-image:url("../images/3-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner3-2{float:left;width:100%;background-image:url("../images/3-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner4-1{float:left;width:100%;background-image:url("../images/4-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner4-2{float:left;width:100%;background-image:url("../images/4-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner5-1{float:left;width:100%;background-image:url("../images/5-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner5-2{float:left;width:100%;background-image:url("../images/5-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner6-1{float:left;width:100%;background-image:url("../images/6-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner6-2{float:left;width:100%;background-image:url("../images/6-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner7-1{float:left;width:100%;background-image:url("../images/7-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner8-2{float:left;width:100%;background-image:url("../images/8-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner8-1{float:left;width:100%;background-image:url("../images/8-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner9-1{float:left;width:100%;background-image:url("../images/9-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner10-1{float:left;width:100%;background-image:url("../images/10-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner10-2{float:left;width:100%;background-image:url("../images/10-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner11-1{float:left;width:100%;background-image:url("../images/11-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner11-2{float:left;width:100%;background-image:url("../images/11-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner12-1{float:left;width:100%;background-image:url("../images/12-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner12-2{float:left;width:100%;background-image:url("../images/12-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner12-3{float:left;width:100%;background-image:url("../images/12-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner13-1{float:left;width:100%;background-image:url("../images/13-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner13-2{float:left;width:100%;background-image:url("../images/13-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner13-3{float:left;width:100%;background-image:url("../images/13-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner14-1{float:left;width:100%;background-image:url("../images/14-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner14-2{float:left;width:100%;background-image:url("../images/14-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner14-3{float:left;width:100%;background-image:url("../images/14-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner15-1{float:left;width:100%;background-image:url("../images/15-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner15-2{float:left;width:100%;background-image:url("../images/15-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner16-1{float:left;width:100%;background-image:url("../images/16-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner17-1{float:left;width:100%;background-image:url("../images/17-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner17-2{float:left;width:100%;background-image:url("../images/17-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner17-3{float:left;width:100%;background-image:url("../images/17-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner18-1{float:left;width:100%;background-image:url("../images/18-slide1.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner18-2{float:left;width:100%;background-image:url("../images/18-slide2.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}
.banner18-3{float:left;width:100%;background-image:url("../images/18-slide3.jpg");background-repeat:no-repeat;background-size:cover;height:600px;}




.white-arrow, .black-arrow1 {
  display: inline-block;
  left: 4px;
  position: relative;
  top: 0px;
}

.modal {
display:none; /* Hidden by default */
position:fixed; /* Stay in place */
z-index:1; /* Sit on top */
padding-top:50px; /* Location of the box */
left:0;
top:0;
width:100%; /* Full width */
height:100%; /* Full height */
overflow:auto; /* Enable scroll if needed */
background-color:rgb(0,0,0); /* Fallback color */
background-color:rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content { background-color:#fefefe; margin:auto; padding:20px; border:1px solid #888; width:80%; overflow:hidden; }

/* The Close Button */
.close { color:#aaaaaa; float:right; font-size:28px; font-weight:bold; }
.close:hover, .close:focus { color:#000; text-decoration:none; cursor:pointer; }
.work-info h1 {
  color: #fff;
  float: left;
  font-size: 49px;
  width: 100%;
  font-weight: 900;
  font-family: "museo-sans-rounded",sans-serif;
}
.accordion-header h1 {
  font-size: 14px;
  font-weight: 300;
  width: auto;
  letter-spacing: 3px;
  font-family: "museo-sans-rounded",sans-serif;
}
.work-info h6 {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 15px 0 10px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 300;
}
.work-info {
  box-sizing: padding-box;
  float: right;
  padding: 30px 5%;
  width: 38%;
  position: absolute;
  top:0 ;
  right:0;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.white-arrow > img { width:auto; }
.slider-main .bxslider a { padding:0; }
.sliderPopUp { display: none; left: 0; margin: 0 auto; position: absolute; right: 0; top: 20px; width: 80%; z-index: 999; }
.work-outer{   width: 1000px;}
.work-popup{padding:0px;/* width:1000px; */width:1200px;border-radius:0px;}
.work-popup .carousel-control.left{width:30px;}
.work-popup .carousel-control.right{width:30px;}
.work-popup .all-website-banner{height:auto;}
.modal-dialog.work-outer {
  width: auto;
}
.container {
	width:100% !important;
}
.all-website-banner .white-arrow, .black-arrow1 {
  top: 0;
}

.all-website-banner .work-info a:hover {
	color:#fff !important;
	text-decoration:none !important;
}

.accordion-content {
  font-family: "museo-sans-rounded",sans-serif;
}

.pagers {
  bottom: 20px;
  position: absolute;
  right: 339px;
}

.pagers-inner-item a {
  border: 2px solid #fff;
  border-radius: 50px;
  float: left;
  height: 10px;
  margin: 4px;
  width: 10px;
}

.pagers-inner-item {
  float: left;
}

.pagers-inner-item .active {
	background-color:#fff;
}
.pagers-inner li{list-style:none;}

@media (min-width:1600px) {
	.work-popup {
  width: 1150px;
}
}

@media (max-width:1200px) {
	.work-popup {
  width: 100%;
}
.modal-dialog.work-outer {
  padding: 0 20px;
}
.work-info {
  width: 48%;
}
.accordion-header h1 {
  font-size: 14px;
}
}

@media (max-width:980px) {
	.accordion-header h1 {
  letter-spacing: 0;
}
.work-info h1 {
  font-size: 28px;
}
.accordion-header h1 {
  font-size: 14px;
}
}



@media (max-width:768px) {
	.all-website-banner {
  width: 100%;
}
.work-info {
  width: 100%;
}

.work-popup {
  width: 100%;
}
.work-info h6 {
  letter-spacing: 0;
  margin: 0;
}
.work-info {
	position: static;
}
.carousel-indicators {
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
}

@media (max-width:640px) {
	/* .work-info h1 {
  font-size: 20px;
} */
.workk h1 {
  padding-bottom: 7px;
  padding-top: 2px;
  width: auto !important;
}
.accordion-header h1 {
  letter-spacing: 1px;
  padding:0 !important;
}.work-info h1 {
  font-size: 28px;
}
.accordion-header h1 {
  font-size: 14px;
}

.work-info a {
  font-size: 16px;
  letter-spacing: 0;
}
}

@media (max-width:480px) {
	.work-grid img {
		width:100%;
	}
	.work-grid li {
	  width: 100%;
	}
}


